# Database (Laragon MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=stocklab

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Mail (OTP)
MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_PASS=

# VNPay Sandbox
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:4200/wallet/vnpay-return

# App
PORT=3000
FRONTEND_URL=http://localhost:4200
